# map(), list comprehension, zip(), enumerate(), lambda, iterator,  Generator

# List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list

The Syntax : newlist = [expression for item in iterable if condition == True]

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [16]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

The above lis can be found by nanual coding like this

In [18]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

# map() Function in Python

Definition and Usage : The map() function executes a specified function for each item in an iterable. 

The item is sent to the function as a parameter.

Syntax : map(function, iterables)

In [8]:
def myfunc(n):
    #print(n)
    return len(n)
x = map(myfunc, ('apple', 'banana', 'cherry'))

print(x)
#convert the map into a list, for readability:
print(list(x))

<map object at 0x000001FBE13468E0>
[5, 6, 6]

In [1]:
x=['apple', 'banana', 'cherry']
nx=[len(a) for a in x if True]
nx

[5, 6, 6]

In [11]:
def myfunc(a, b):
  return a**b

x = map(myfunc, (3,2,1), (1,2,3))

print(x)

#convert the map into a list, for readability:
print(list(x))

<map object at 0x000001FBE132E4C0>
[3, 4, 1]

#  zip() Function Python

The zip() function takes iterables (can be zero or more), 
aggregates them in a tuple, and returns

In [10]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")
x = zip(a, b)
print(x)
print(type(x))

#use the tuple() function to display a readable version of the result:
#print(tuple(x))
#print(list(x))

for i, (name1, name2) in enumerate(x):
    print(i, name1, name2)

<zip object at 0x0000019E4368DE00>
<class 'zip'>
0 John Jenny
1 Charles Christy
2 Mike Monica

In [14]:
names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]
z=zip(names, ages)
for i, (name, age) in enumerate(z):
    print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

# Enumerate() in Python

The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.

The enumerate() function adds a counter as the key of the enumerate object.

In [16]:
# Python program to illustrate
# enumerate function in loops
l1 = ["eat", "sleep", "repeat"]
  
# printing the tuples in object directly
for e in enumerate(l1):
    print (e)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

In [ ]:
# changing index and printing separately
for count, e in enumerate(l1, 100):
    print (count, e)
  
# getting desired output from tuple
for count, ele in enumerate(l1):
    print(count)
    print(ele)

# Python Iterators

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

In [19]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [19]:
mytuple = ["apple", "banana", "cherry"]
mytuple.reverse()
myit = iter(mytuple)

print(next(myit))

cherry

We can also use a for loop to iterate through an iterable object:

In [23]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
    print(x)

apple
banana
cherry