# Python Data Types

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

# Text Type: str

In [2]:
a = "Hello"
print(a)
print(type(a))

Hello
<class 'str'>

In [3]:
a = 'H'
print(a)
print(type(a))

H
<class 'str'>

In [4]:
a = "Hello, World!"
print(len(a))

13

In [5]:
txt = "The best things in life are free!"
print("free" in txt)

True

# Numeric Types: int, float, complex

In [7]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [8]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

# Sequence Types: list, tuple, range

In [3]:
l=[10, 20,30,40,10] # List
t=(10, 20,30,40,10) # Tuple
s={10, 20,30,40,10} # Set
d={1:'10', 2:'100', 3:'1000', 4:'10000'} # Dictionary

In [4]:
print(l)
print(type(l))

[10, 20, 30, 40, 10]
<class 'list'>

In [5]:
print(t)
print(type(t))

(10, 20, 30, 40, 10)
<class 'tuple'>

In [6]:
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [7]:
print(d)
print(type(d))

{1: '10', 2: '100', 3: '1000', 4: '10000'}
<class 'dict'>

In [9]:
import pandas as pd
df=pd.DataFrame.from_dict(d, orient='index')
print(df)

       0
1     10
2    100
3   1000
4  10000

In [10]:
x=range(5)
print(x)

range(0, 5)

In [11]:
x=range(2,5)
print(x)

range(2, 5)

In [12]:
x=range(2,50,5)
print(x)

range(2, 50, 5)

In [14]:
for x in range(5,20,5):
    print(x)

5
10
15

In [15]:
mylist = ["apple", "banana", "cherry"]